@model mtv_management_leave.Models.Entity.RequestChangeInout

<div class="card">

    <div class="card-body register-leave-handle">
        <div class="container-fluid">
            @using (Html.BeginForm("registerChangeInout", "changeInOut"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                <label class="control-label">
                </label>
                <div class="row">
                    <div style="height:10px"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            @(
                                Html.vDateTimePickerFor(m => m.Date)
                                    .SetViewMode(mtv_management_leave.Lib.Common.DateTimePickerViewMode.Date)
                                    .ToHtml()
                            )
                        </div>
                        <div class="col-sm-2 text-right"><label class="control-label">In</label> </div>
                        <div class="col-sm-3 md-hour">
                            @(
                                Html.vDateTimePickerFor(m => m.Intime)
                                    .SetViewMode(mtv_management_leave.Lib.Common.DateTimePickerViewMode.Time)
                                    .HiddenLabel()
                                    .ToHtml()
                            )
                        </div>
                        <div class="col-sm-2 text-right"><label class="control-label">Out</label> </div>
                        <div class="col-sm-3 md-hour">
                            @(
                                Html.vDateTimePickerFor(m => m.OutTime)
                                    .SetViewMode(mtv_management_leave.Lib.Common.DateTimePickerViewMode.Time)
                                    .HiddenLabel()
                                    .ToHtml()
                            )
                        </div>
                    </div>
                    <div class="row">
                        @Html.vTextAreaFor(m => m.Reason);
                    </div>
                </div>
                                }
        </div>
    </div>
</div>
