@model mtv_management_leave.Models.Entity.RequestChangeInout

<div class="card">

    <div class="card-body register-leave-handle">
        <div class="container-fluid">
            @using (Html.BeginForm("registerChangeInout", "changeInOut"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                <label class="control-label">
                </label>
                <div class="row">
                    <div style="height:10px"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.vDatePickerFor(m => m.Date)
                        </div>
                        <div class="col-sm-2 text-right"><label class="control-label">In</label> </div>
                        <div class="col-sm-3 md-hour">
                            @Html.vTimePickerFor(m => m.Intime, showTitle: false);
                        </div>
                        <div class="col-sm-2 text-right"><label class="control-label">Out</label> </div>
                        <div class="col-sm-3 md-hour">
                            @Html.vTimePickerFor(m => m.OutTime, showTitle: false);
                        </div>
                    </div>
                    <div class="row">
                        @Html.vTextAreaFor(m => m.Reason);
                    </div>
                </div>
            }
        </div>
    </div>
</div>


