@using mtv_management_leave.Models.RegisterLeave
@model SearchRequest
@{
    ViewBag.Title = "InOut Page";
}

<div class="card">
    <div class="card-header">
        <h2>@ViewBag.Title<small>List in out of user</small></h2>
    </div>
    <div class="card-body">
        <div class="row">
            @Html.HiddenFor(m => m.Uid)
            <div class="col-sm-12">
                @Html.vDatePickerFor(m => m.DateStart).Wrap("div", new { @class = "col-sm-4" })
                @Html.vDatePickerFor(m => m.DateEnd).Wrap("div", new { @class = "col-sm-4" })
                @**chen them cai text box o day*@
                <div class="col-sm-4">
                    <button class="btn btn-default" id="btn-search"><i class="zmdi zmdi-search"></i> Search</button>
                    <button class="btn btn-primary" id="btn-register"><i class="zmdi zmdi-plus"></i> Register Leave</button>
                </div>
            </div>
        </div>
        @(Html.vBootGridFor()
        .SetName("inout-table")
        .SetAjaxUrl("/inout/tolist")
        .AddAjaxParameter(typeof(SearchRequest))
        .AddColumnRange(
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Uid", FormatJqueryHandler = "validRow", Identify = true, MappingFrom = "Uid" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Full name", FormatJqueryHandler = "validRow", MappingFrom = "FullName" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Date", FormatJqueryHandler = "validRowDate", MappingFrom = "Date" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "In", FormatJqueryHandler = "validRow", MappingFrom = "Intime" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Out", FormatJqueryHandler = "validRow", MappingFrom = "Outtime" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Valid", FormatJqueryHandler = "validRow", MappingFrom = "IsValid" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "LeaveS", FormatJqueryHandler = "validRow", MappingFrom = "LeaveStart1" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "LeaveE", FormatJqueryHandler = "validRow", MappingFrom = "LeaveEnd1" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Status", FormatJqueryHandler = "validRow", MappingFrom = "LeaveStatus1" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "LeaveS", FormatJqueryHandler = "validRow", MappingFrom = "LeaveStart2" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "LeaveE", FormatJqueryHandler = "validRow", MappingFrom = "LeaveEnd2" },
            new BootGridColumnOption { Sortable = false, ColumnHeaderName = "Status", FormatJqueryHandler = "validRow", MappingFrom = "LeaveStatus2" }
        )
        .ToHtml()
        )
    </div>
</div>


<div class="modal fade" id="modalRegisterLeave" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Register leave</h2>
            </div>
            <div class="modal-body">
                @*@Html.Action("RegisterLeave")*@
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-save"><i class="zmdi zmdi-save"></i> Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">
                Close
            </button>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $("#btn-search").click(function (e) {
            $("#inout-table").bootgrid("reload");
        });

        $("#btn-register").click(function (e) {
            $("#modalRegisterLeave").modal("show");
        });
        
        var validRow = function (col, row) {
            return row[col.id];
        };

        var validRowDate = function (col, row) {
            return dateConvert(row[col.id]);
        }

        $("#modalRegisterLeave").on('show.bs.modal', function () {
            var option = {
                url: "/registerleave/registerleave",
                type: "GET"
            };
            $.ajax(option).done(function (data) {
                setupModalBodyFrom(data);
            });
        });

        var setupModalBodyFrom = function (data) {
            $(".modal-body").html(data);
            //registerBootstrapControl();
        }

        var registerBootstrapControl = function () {
            $(".modal-body .time-picker").datetimepicker({
                format: "LT", stepping: 15});
            $(".modal-body .date-picker").datetimepicker({ format: "MM/DD/YYYY", showTodayButton: true });
            $('.modal-body .selectpicker').selectpicker('render');
        }

        $("#modalRegisterLeave").on('hidden.bs.modal', function () {
            $(".modal-body").html("");
        });

        $("#modal-save").click(function (e) {
            e.preventDefault();
            var form = $(".modal-body form");
            var url = form.attr("action");
            var data = form.serialize();
            var option = {
                url: url,
                type: "POST",
                data : data
            }
            $.ajax(option).done(function (data) {
                setupModalBodyFrom(data);
                $("#modal-close").click();
            });
        })
    </script>
}