@model mtv_management_leave.Models.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-content">
    <!-- Forgot Password -->
    <div class="lc-block toggled" id="l-forget-password">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="lcb-form">
                @Html.vTextBoxFor(m => m.Email)

                <a href="#" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
            </div>
        }
        <div class="lcb-navigation">
            <a href="@Url.Action("login","account")" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>
            <a href="@Url.Action("register","account")" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Register</span></a>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/account/account.js" type="text/javascript"></script>
}