@using mtv_management_leave.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-content">
    <!-- Login -->
    <div class="lc-block toggled" id="l-login">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="lcb-form">
                @Html.vTextBoxFor(m => m.Email)

                @Html.vPasswordFor(m => m.Password)

                @Html.vCheckBoxFor(m => m.RememberMe, 2)

                <a href="#" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
            </div>
        }
        <div class="lcb-navigation">
            <a href="@Url.Action("register","account")" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Register</span></a>
            <a href="@Url.Action("forgotpassword","account")" data-ma-action="login-switch" data-ma-block="#l-register"><i>?</i> <span>Forgot Password</span></a>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/account/account.js" type="text/javascript"></script>
}