@using mtv_management_leave.Models.Account
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-content">
    <!-- Register -->
    <div class="lc-block toggled" id="l-register">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="lcb-form">
                @Html.vTextBoxFor(m => m.Email)

                @Html.vTextBoxFor(m => m.FullName)

                @Html.vTextBoxFor(m => m.PhoneNumber)

                @Html.vTextBoxFor(m => m.DateOfBirth)

                @Html.vPasswordFor(m => m.Password)

                @Html.vPasswordFor(m => m.ConfirmPassword)

                <a href="#" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
            </div>
        }
        <div class="lcb-navigation">
            <a href="@Url.Action("login","account")"  data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>
            <a href="@Url.Action("forgotpassword","account")" data-ma-action="login-switch" data-ma-block="#l-register"><i>?</i> <span>Forgot Password</span></a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/account/account.js" type="text/javascript"></script>
}