@model mtv_management_leave.Models.Account.ChangePasswordViewModel
@using (Html.BeginForm("ChangePassword", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "changePassword" }))
{    
    <div class="col-sm-12">
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
    </div>   
    <div class="col-sm-12">
        @Html.HiddenFor(m => m.Id)
        @Html.vPasswordFor(m => m.Password)
        @Html.vPasswordFor(m => m.NewPassword)
        @Html.vPasswordFor(m=> m.ConfirmPassword)
    </div>
}
