@using mtv_management_leave.Models.Account
@model UpdatedViewModel
@{
    var roles = Html.GetT<IEnumerable<SelectListItem>>("roles", "rolestolist");
}

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Email, new { @class="col-sm-4"}) <label><b>@Model.Email</b></label>                
            </div>           
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.FullName, new { @class = "col-sm-4" }) <label><b>@Model.FullName</b></label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-4" }) <label><b>@Model.PhoneNumber</b></label>
            </div>            
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-sm-4" }) <label><b>@( Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("MM/dd/yyyy") : "" )</b></label>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.FPId, new { @class = "col-sm-4" }) <label><b>@Model.FPId</b></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.RoleIds, new { @class = "col-sm-4" }) <label><b>@(string.Join(",", roles.Where(m => Model.RoleIds.Contains(int.Parse(m.Value))).Select(m => m.Text)))</b></label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.DateBeginWork, new { @class = "col-sm-4" }) <label><b>@( Model.DateBeginWork.HasValue ? Model.DateBeginWork.Value.ToString("MM/dd/yyyy") : "" )</b></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.DateBeginProbation, new { @class = "col-sm-4" }) <label><b>@( Model.DateBeginProbation.HasValue ? Model.DateBeginProbation.Value.ToString("MM/dd/yyyy") : "" )</b></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.DateResign, new { @class = "col-sm-4" }) <label><b>@( Model.DateResign.HasValue ? Model.DateResign.Value.ToString("MM/dd/yyyy") : "" )</b></label>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <button class="btn btn-info col-sm-offset-2" id="btn-change-password">Change password</button>

</div>


<div class="modal fade" id="modalUpdatePassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Change password</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    @{Html.RenderPartial("_ChangePassword", new ChangePasswordViewModel { Id = Model.Id });}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <button type="button" class="btn btn-primary" id="modal-save"> Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#btn-change-password").click(function (e) {
        e.preventDefault();
        $("#modalUpdatePassword").modal("show");

    });

    $("#modal-save").click(function (e) {
        var form = $("#changePassword");
        if (!form.validate().form()) return;
        var url = form.attr("action");
        if (url == null || url == '') return;
        var data = form.serialize();
        var option = {
            url: url,
            type: 'POST',
            data: data
        };
        $.ajax(option).done(function (data) {
            if (data.Result) {
                $("#modalUpdatePassword").modal("hide");
                $("#modalUpdatePassword input[type='password']").val('');
            }
            else
                mySwal("Error", data.Message, "error");
        });

    });
</script>
@Scripts.Render("~/bundles/jqueryval")

